.formControl {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.formControl label {
  margin-bottom: 0.6em;
  font-weight: bold;
}

.formControl input {
  padding: 0.7em;
  border-radius: 33px;
  border: none;
}

.formControl input::placeholder {
  color: #7b7b7b;
}
