.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  border-bottom: 1px solid #000;
  border-radius: 10px;
}
.navbar img {
  width: 70px;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
}

.list li {
  margin-right: 1em;
}

.list li a {
  color: #222;
  text-decoration: none;
  padding: 0.7em;
  font-weight: 500;
  transition: 0.5s;
  border-radius: 20px;
}

.list li a:hover {
  background-color: #222;
  color: #ffbb33;
}
